.btn{
height: 100px;
width: 100px;
border: 5px solid black;
border-radius: 0px;
margin: 0px;
font-size: 40px;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
  font-size: 80px;
  width: 330px;
  margin-left: auto;
  margin-right: auto;
}

h4 {
  text-align: center;
  font-size: 40px;
  width: 330px;
  margin-left: auto;
  margin-right: auto;
}

.gameBoard {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}
