body {
  font-family: 'Rock Salt', cursive;
  color: white;
}

.jumbotron {
  height: 15vh;
  color: black;
}

.contents {
  width: 1170px;
  height: 85vh;
  background-image: url("bg.jpeg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.btn:hover, .btn:focus {
  color: white;
}

.btn {
  height: 100px;
  width: 100px;
  border: 5px solid white;
  background-color: transparent;
  border-radius: 0px;
  margin: 0px;
  font-size: 40px;
}

h1 {
  text-align: center;
}

h3 {
  margin-top: 140px;
  text-align: center;
  font-size: 60px;
  width: 330px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 17px;
}

h4 {
  text-align: center;
  font-size: 40px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.gameBoard {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}
